<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-align-center">
      <ion-icon name="color-fill"></ion-icon>VeriGas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de postos</ion-card-title>
      <ion-card-subtitle>Lista de melhores postos segundo:metropoles.com/distrito-federal</ion-card-subtitle>
    </ion-card-header>
  <ion-list>
    <ion-item>
      <ion-label>Posto Nenen’s (Taguatinga Centro) </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Ipiranga (Estrada Parque Taguatinga)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Jarjour (Asa Sul 210)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Petrolino (Taguatinga Centro) </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Quadra 8 (Sobradinho)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Brasal Combustíveis (Setor de Indústria e Abastecimento)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto SIA 3 Ipiranga (SIA) </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto JK (Asa Sul 411) </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto da Torre (Setor Hoteleiro Sul) </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Anões (Asa Sul 315)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Jardim Roriz (Setor de Oficinas Planaltina)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Petrobras (Asa Norte 410)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Auto Volume (EPTG)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto DFM (Candangolândia) </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Mariana (QI 12 Lago Norte)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Brasal Combustíveis (QI 416 Samambaia Norte)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Parque Eldorado (área central Gama)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Auto Posto Chaves (BR-060 Recanto das Emas)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Pioneiro (Núcleo Bandeirante) </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto QE 36 (Guará 2) </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Shell (QI 4 Lago Norte) </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Céu (Ceilândia BR-070)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Petrobras (Ql 12 Lago Sul)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Golden Gás (QL 8 Lago Sul)  </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto 6 (QL 6 Lago Sul)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Melhor Brasília (QE 30 Guará 2)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Shell (QE 20 Guará 1)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto São Roque (QE 2 Guará 1)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Guará Parque (QE 23 Guará 2)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Ipiranga MAM (Candangolândia)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Bay Park (Núcleo Bandeirante)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Maxxi (Núcleo Bandeirante) </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Park Way (Núcleo Bandeirante) </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Posto Quality Combustíveis (Candangolândia)</ion-label>
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>
